/* Google fonts imported  */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cinzel&family=Julius+Sans+One&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Navbar css  */

#root {
  text-align: center;
  text-decoration: none;

}

h2 {
  margin: 4rem auto;
  font-family: 'Cinzel', serif;
  font-weight: bolder;
}

#navbar h1 {
  font-size: 4rem;
}

#navbar h1,
h5 {
  margin-top: 2rem;
  font-family: 'Cinzel', serif;
}

#navbar ul a {
  text-decoration: none;
  color: black;
  font-family: 'Bad Script', 'cursive';
}

#navbar a:hover {
  text-decoration: line-through;
}

#navbar {
  margin: 0 2rem;
}

#navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid black;
  margin-top: 3rem;
  padding: 1.3rem;
}

/* Navbar css End */


/* About me page  */

#about {
  margin: 4rem 15%;
}

#aboutPic {
  margin: 2rem;
}

#aboutPic img {
  height: 15rem;
  width: 16rem;
}

/* About me page End */

/* Skills */
#skills {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
}

#icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: 10rem;
  width: 100%;
  filter: grayscale(100%);
}

#icons:hover {
  filter: none;
}

/* skills end  */


/* Contact  */

#contact {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  opacity: 0.6;
  letter-spacing: 6px;
  padding-bottom: 80px;
}

#contact a {
  color: black;
  padding: 0 3rem;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: line-through;
}


/* Contact end  */

/*  Work styling  */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  border-radius: 15px;
  background: #000;
}

.card__image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, .9);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color)
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1.5em;
  margin: 0 0 .3em;
  padding: 10px;
  background: #000;
  color: #fff;
  opacity: .9;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2rem;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: 1.1em;
  color: #fff;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #fff;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* Work styling end  */

/* button styling  */

.btn {
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}


/* button styling end  */










/* Footer  */

#footer {
  margin: 4rem;
}


#footer {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  opacity: 0.6;
  letter-spacing: 6px;
  text-align: center;
  padding: 80px 16px;
  border-bottom: grey;
}

/* Footer End */


hr {
  width: 80%;
  height: 3px;
  background-color: black;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}